<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
	<ui:composition template="/layouts/basic.xhtml">
		<ui:define name="title">Twitter</ui:define>
		<ui:define name="content">
			<h:form id="wallForm">
				<h3>This is a WALL</h3>
				<p:poll interval="10" update="wallForm"/>
				<p:dataTable value="#{demoBean.wallBean.twitters}" var="twitter">
					<p:column>
						<h:outputLabel value="#{twitter.title}"/>
					</p:column>
					<p:column>
						<h:outputLabel value="#{twitter.content}"/>
					</p:column>
				</p:dataTable>
			</h:form>
			
		</ui:define>
	</ui:composition>
</h:body>
</html>