<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
	<ui:composition template="/layouts/basic.xhtml">
		<ui:define name="title">UserInput</ui:define>
		<ui:define name="content">
			<h:form id="inputForm">
				<h:panelGrid columns="2">
					<f:facet name="header">
						<p:messages></p:messages>
					</f:facet>
					
					<p:outputLabel value="Title"/>
					<p:inputText value="#{demoBean.newTwitter.title}"/>
					
					<p:outputLabel value="Content"/>
					<p:inputText value="#{demoBean.newTwitter.content}"/>
					<br />
					<p:commandButton actionListener="#{demoBean.triggerUpdateWall()}" value="Proceed" update="@([id$=wallForm])"  icon="ui-icon-check" />
				</h:panelGrid>
			</h:form>
			
		</ui:define>
	</ui:composition>
</h:body>
</html>